$backg2: #EEE;
$border: #555 solid 2px;
$tableHead: #6B6;
$tableBody: #CEC;

html {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0px;
  background: grey;
  display: flex;
  flex-direction: column;
}

header {
  background: $backg2;
  border-bottom: $border;
  h1 {
    text-align: center;
  }
}

footer {
  background: $backg2;
  padding-left: 30px;
  border-top: $border;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

#root {
  flex: 1;
  background: $backg2;
  border: $border;
  margin: 30px;
  >div {
    text-align: center;
    article {
      margin: 10px;
      table {
        margin: auto;
        border-collapse: collapse;
        th,
        td {
          min-width: 100px;
          border: $border;
          text-align: center;
          padding: 3px;
        }
        th {
          background-color: $tableHead;
        }
        td {
          background-color: $tableBody;
        }
        input {
          text-align: inherit;
          padding: 3px;
        }
        button {
          height: 100%;
          width: 100%;
          background-color: $tableHead;
          border: $border;
          border-radius: 6px;
          box-shadow: 3px 3px 3px #BBB;
          font-weight: bolder;
          font-size: 17px;
        }
        button:hover {
          background-color: grey;
        }
      }
      >button {
        padding: 15px;
        font-weight: bold;
        background-color: $tableHead;
        border: $border;
        border-radius: 6px;
        box-shadow: 5px 3px 3px #BBB;
      }
      >button:hover {
        background-color: grey;
      }
    }
  }
}
